:root {
--smart-blue: #0466c8ff;
--sapphire: #0353a4ff;
--regal-navy: #023e7dff;
--prussian-blue: #002855ff;
--prussian-blue-2: #001845ff;
--prussian-blue-3: #001233ff;
--twilight-indigo: #33415cff;
--blue-slate: #5c677dff;
--slate-grey: #7d8597ff;
--lavender-grey: #979dacff;
}