@import "tailwindcss";

:root {
  --blue: #0085C7;
  --yellow:#F4C300;
  --black: #000000;
  --green: #009F3D;
  --red: #DF0024;
  --white: #FFFFFF;
  --primary: #f8f7ff;
  --secondary: #9381ff;
  --tertiary: #b8b8ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}